.cart-container {
  width: 80%;
  margin: 4rem auto;
}
.cart-item-section {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.total-price-section {
  display: flex;
  justify-content: space-between;
}
.total-section {
  margin-top: 4rem;
}
.order-meta {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line {
  text-decoration: dashed;
}
.line {
  border: none;
  border-top: 2px dashed #888;
  margin: 20px 0;
}
.cart-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}
.empty-cart-container h2 {
  font-family: 'Termina Test', sans-serif;
}
.remove-btn {
  background-color: #fd5c63;
  color: aliceblue;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 24px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
}
.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
  justify-content: center;
}
.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
