.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  border-bottom: 1px solid lightgray;
  padding: 7px 25px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin: 0px auto;
}
.nav-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav-heading {
  font-weight: 500;
  font-size: 26px;
  margin: 0;
  padding: 0;
}
.nav-list-item p {
  font-size: 18px;
}
.cart-link {
  color: black;
  position: relative;
}
.list-count {
  color: aliceblue;
  background-color: #ff033e;
  padding: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -32px;
  left: 15px;
  font-size: 14px;
}
.logoutBtn {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 7px;
  color: aliceblue;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Termina Test', sans-serif;
}
.logoutBtn:hover {
  transform: scale(1.02);
}
.nav-link {
  color: black;
  text-decoration: none;
}
.cart-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.nav-bar-img {
  width: 25px;
}
.cart-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-count-badge {
  background-color: #bfdbfe;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-left: 8px;
  text-decoration: none;
}
.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}
.nav-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-menu-item,
.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0px 6px;
}
.nav-logo {
  text-decoration: none;
  color: black;
}
